<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>55+ Club</h2>
					
						</header>

						<!-- Content -->
							<section id="content">
								
								<blockquote>"I know your deeds, your love and faith, your service and perspective, and that you are doing more than you did at first."<br>--Revelation 2:19 NIV</blockquote>
								
								<p>The mission of the 55+ Club is to embrace the 55+ age group of New Beginnings Assembly of God believers by creating a safe and inclusive environment that fosters fellowship, friendships, support, and spiritual growth. We provide opportunities for senior citizens to be a vital part of the church and surrounding community through serving and supporting outreach programs. We enjoy a variety of activities outside the church. We regularly meet at local restaurants for meals to develop friendships. We enjoy taking day trips and attending local events in an attempt to experience new activities. </p>
							</section>

					</div>
				</div>