<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Children's Ministries</h2>
					
						</header>

						<!-- Content -->
							<section id="content">
								<a href="#" class="image fit"  style="height: 400px; Width: 500px; margin-left: auto; margin-right: auto;"><%= image_tag "Childrens.jpg" %></a>
								
								<p>Our children’s ministry is led by Danniell Glick. New Beginnings Assembly of God’s children church meets every Sunday at 10:30! The purpose of our children’s church is to build a biblical foundation for each child and encourage them to grow in their relationship with Christ Jesus. Our service is open to any kid between the ages of 3 (and potty trained) through 6th grade. 
<br><br>We start things off with a fun and energetic time of worship and dancing. We then enjoy a special message from one of our teachers. Our teachers for main service are Danniell Glick, Alexis Glick, and Calie King. Depending on the lesson, our group of kids will either remain as one class, or split into two classes: ages 3-kindergarten and 1st grade-6th grade. In their individual classes, children will learn about the Bible by participating in age appropriate stories, activities, arts, crafts, games, and more! At the end of service, our groups combine again to enjoy a light snack.
<br><br>We also have an annual Vacation Bible School, where children come and learn about the gospel and the love that God has for them. We have service Sunday through Thursday and end with a family fun carnival on Friday. This is an amazing and special experience for many children, some of whom have never heard how much Jesus really does care for them! 
</p>
							</section>

					</div>
				</div>