<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>History</h2>
					
						</header>

						<!-- Content -->
							<section id="content">
								<a href="#" class="image fit"><img src="images/pic07.jpg" alt="" /></a>
								
								<p>In 1944, the Assembly of God Church in Fostoria, Ohio, felt the Lord leading them to plant a sister church in Tiffin.  With much prayer, they proceeded toward that effort. Although our spiritual fathers did not have their first pastor until 1945, the ground work was laid.
In 1945, Rev. William Rhyand came to serve as our church’s first pastor.  The church was located at 21 North Washington Street in a house which provided adequate space for the church and the parsonage.
Under the leadership of Rev. Clifford E. Nielson, our congregation moved to the upstairs of a building located at 68½ South Washington Street and began to pray for an opportunity to purchase property and build in the near future.
The Lord answered those prayers and sent Rev. James Earls to serve as pastor in 1954.  He said that he was sent here to build a church, and he did just that.  The congregation purchased land at 366 Wentz Street and built the facility that would house our ministries for more than 50 years.  At that time the name of the church was formally changed to First Assembly of God.
Under the leadership of Rev. Nolan Blakkolb, we became independently incorporated in 1997.  During that process, we changed our name to New Beginnings Assembly of God.
In June of 2000, Rev. Rex King was unanimously elected to serve as our congregation’s eleventh and current pastor.  We began to grow in number and in unity and before long, our beloved home on Wentz Street was no longer sufficient to accommodate our church family. 
In 2008, we purchased our current facility at 733 North Sandusky Street.  This facility has given our ministries room to thrive and grow and has enabled us to open New Beginnings Christian Preschool, which has given us the opportunity to touch the lives of hundreds of preschoolers and their families.  
</p>
							</section>

					</div>
				</div>