<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Men's Ministries</h2>
					
						</header>

						<!-- Content -->
							<section id="content">
								<a href="#" class="image fit"  style="height: 400px; Width: 500px; margin-left: auto; margin-right: auto;"><%= image_tag "adultministries.jpg" %></a>
								
								<p>The New Beginning’s Men’s Ministry is a place for men to fellowship together, grow in Christ together, pray together, and eat together! We spend some time each month enjoying a breakfast followed by a short devotional and a time of lifting each other up in prayer. We believe that iron sharpens iron and men grow better together. Men have been given a great deal of responsibility by our Lord and Savior and this ministry’s primary purpose is to facilitate the leadership men are called to. We enjoy cookouts, fishing trips, and firearms as often as we can, because we know food and completion brings men together! We’re grooming the next generation’s leadership.</p>
							</section>

					</div>
				</div>