<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>New Beginnings Preschool</h2>
					
						</header>

						<!-- Content -->
							<section id="content">
								<a href="#" class="image fit"  style="height: 400px; Width: 500px; margin-left: auto; margin-right: auto;"><%= image_tag "preschool.jpg" %></a>
								<h3>About</h3>
								<br>
								<p>New Beginnings Christian Preschool has been established to provide quality, loving care while preparing each child for a successful transition to elementary school. Our nurturing faith based program recognizes the importance of balanced growth, so our curriculum provides opportunity for social, emotional, cognitive, language and physical development through a variety of creative experiences.</p>
								<br>
								<h3>Tuition</h3>
								<br>
								<p>New Beginnings Christian Preschool offers 
preschool classes Monday through Friday 
from 9:00 AM to 12:00 PM.  Parents choose 
which and how many days a week 
to send their children, subject to availability. 
The cost for preschool is $9.00 per day. We also offer extended 
care for working parents. We open at 6:30 AM and close
at 5:30 PM. All day care is $25.00 per day or $115.00 per
week. This includes the preschool hours. 
<br>
<br>
 
New Beginnings also provides before and after school care for school age children. Tiffin City School buses can pick up and drop off your child right to our door. Summer care is also available.
</p>
<br>
<br>
<p>Licensed by the Ohio Department of Job & Family Services
 <br>
The teachers are trained in child abuse prevention, communicable disease, first aid and CPR.
</p>
							</section>

					</div>
				</div>