<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Special Needs Ministries</h2>
					
						</header>

						<!-- Content -->
							<section id="content">
								<a href="#" class="image fit" style="height: 400px; Width: 500px; margin-left: auto; margin-right: auto;"><%= image_tag "specneed.jpg" %></a>
								
								<p>New Beginnings Assembly of God “Shepherds and Little Lambs Church” is a class for individuals with disabilities between the ages of 3 yrs - 12th grade. Our class is offered at 10:30 am on Sunday mornings. Our mission is to provide an environment that fosters the spiritual growth of your child while working with their individual abilities. We are committed to ensuring that your child receives the best possible care and experience each week. Our lessons include arts, crafts, music, games and sensory play activities. 
								    <br><br>We have a kind and caring team, led by Erin Simmons. Each Sunday, class is taught by a lead teacher and an assistant. In addition, we have recently added an exciting “Spiritual Buddy” program. Through this program, we have partnered with Invincible Student Ministries to provide assistance for your child. If your child needs additional attention or care, their spiritual buddy will be by their side to assist with anything your child may need, such as redirection, keeping them on task, help with crafts, or just to be a calming presence. Our spiritual buddies will rotate so that each child and youth can get to know everyone in our class. 
<br><br>While we understand that sometimes change can be difficult for individuals with disabilities, we vow to help them adjust to this change. We want your child to leave our class with a newfound understanding of God’s awesome love for them. We hope to work with you and your child to teach them in a way that fosters their own unique personalities and abilities! 
</p>
							</section>

					</div>
				</div>