<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Our Staff and Leaders</h2>
					
						</header>

						<!-- Content -->
							<section id="content">
								
								<h3>Rex King</h3>
								<h5>Lead Pastor</h5>
								<p>Our lead pastor, Rex King, is a Seneca County native. He grew up in Attica, but moved away in November of 1980 when he married his wife, Deb. Pastor Rex was brought up Baptist, while Deb was Catholic. Early in their dating relationship, they began studying the Bible and searching for a church whose teaching they felt was biblically accurate. They found a common church home in Ashland Assembly of God.
								Over the next eleven years, they grew spiritually and developed their gifts, talents and abilities. After completing his studies through Berean School of the Bible, Pastor Rex became an Assemblies of God minister. In February of 1991, he accepted his first position as the associate/youth Pastor of First Assembly of God in Vermilion, Ohio. From there, the Kings moved to Bridgeport, Illinois, where he served as lead pastor until returning to Seneca County in June of 2000 to serve as our lead pastor.
								Pastor Rex has a great love for people. He thoroughly enjoys the relationships he has within the church family and has a passion to reach those who need Jesus and to minister to the needs of those who are hurting. He finds fulfillment in ministering to others, helping them grow spiritually, and helping them find their place of ministry in the church.
								Pastor Rex is very proud of his family. Each one of them, including his son-in-law and daughter-in-law, plays an important role in his life and in the spiritual life of our church.  He enjoys spending time with them, especially his three grandchildren. He loves to travel and to get away for some quality time with his wife.   
								</p>
								<hr>
								
								<h3>Deb King</h3>
								<h5>Church Secretary</h5>
								<p>Deb King has been the secretary at New Beginnings since July of 2008.  

Deb enjoys working alongside her husband, Pastor Rex King, and partnering with him in ministry.  She also enjoys working in a pleasant, Christian environment and being able to interact with people from the congregation and the community on a regular basis.

Outside of her office duties, Deb enjoys spending time with her family (especially her grandkids).  She also enjoys being involved in children’s ministries in the church, including Sunday School, Pioneer Clubs and Vacation Bible School.  It’s what she feels God has called her to do and she loves leading children to the Lord and watching them grow in their faith!

Deb is married to Pastor Rex and together they have three children who are actively involved, along with their spouses, in the ministry of New Beginnings.  Oldest son, Ben, plays lead guitar on the worship team.  Son, Matt, and his wife, Calie, along with daughter, Dana, and her husband, Brandon, co-pastor ISM and the young adults group.  Pastor Matt and Calie are the parents of one daughter, and Pastor Dana and Brandon have two daughters.
</p><hr>
								
								
								<h3>Danniell Glick</h3>
								<h5>Children’s Ministry Coordinator</h5>
								<p>Danniell Glick started ministering in our children’s church in 2002.  Her administrative gifting and her love for children soon led to other opportunities. She has been our Vacation Bible School director since 2004, and in 2011 she became the director of New Beginnings Christian Preschool.  Danniell’s artistic ability and creativity are frequently utilized by other ministries in our church as well.   

Danniell is passionate about children’s ministry.  She loves introducing children to Jesus and helping them understand who God is and who they are in Him.  She finds their faith and energy contagious.

Danniell loves spending time with her family.  She and her husband, Dewey, have two children. Their son, Brandon, is married and has two beautiful daughters.  Their daughter, Alexis, is still living at home while attending Tiffin University.  Both Brandon and Alexis can be found ministering in several areas of the church.  Danniell and Dewey enjoy being new grandparents. Danniell also enjoys crafts and repurposing old and rustic things. 
   
								</p>
								<hr>
								
								<h3>Matt King</h3>
								<h5>Youth Pastor</h5>
								<p>Pastor Matt got his start in youth ministry in 2006 as a sponsor. In 2011, he accepted the position of youth pastor and had loved it ever since. 

Pastor Matt feels called to youth ministry because he feels God wants him to help youth during the most impressionable years of their lives. He strives to be a positive  male influence in a world where lots of kids are lacking a father figure. Additionally, Pastor Matt enjoys helping teenagers start and build their relationships with God. The purpose of his ministry is to help them grow and develop from kids into men and women of God. 

When he's not working, Pastor Matt enjoys hunting, fishing, and camping

He has a wonderful family, complete with his beautiful wife Calie and awesome daughter Riley.</p>
								<hr>
								
								<h3>Dana Glick</h3>
								<h5>Youth Pastor</h5>
								<p>Pastor Dana began working in youth ministry in April 2011. Pastor Dana feels that by being in youth ministry,  she has the opportunity to help kids that are going through a confusing set of years discover God and who God wants them to be. Outside of ministry, she enjoys being a mother to her beautiful girls, shopping, and watching movies. She married her best friend and they now have 2 wonderful little girls that brighten every day. They love spending time together  during their "family nights" where they pick 1 fun thing to do as a family once a week.</p>
								<hr>
								
								<h3>Lisa Handshoe</h3>
								<h5>Teacher</h5>
								<p>Lisa Handshoe first began working with Pioneer Clubs as a teacher and transitioned to leading the ministry in 2003. She is drawn to the ministry because she loves working with children and having the opportunity to pour into their lives and watch them grow in their walk with God. When Lisa isn't heading up Pioneer Clubs, you can find her camping and working in her garden. Lisa also enjoys spending time with her husband, three children, 2 grandchildren, and 2 mini dachshunds.</p>
								<hr>
								
								<h3>Michelle Risner</h3>
								<h5>Nursery Leader</h5>
								<p>Michelle started leading the nursery ministry in 2004. She wanted to make sure our littlest kids had a safe and fun environment to be in while their parents were able to relax and enjoy worshiping. She enjoys it because she knows how important it is as a parent to have a few minutes of time to not have to worry about your kids and just being able to be with your church family, being in God's presence. Outside of this ministry, Michelle enjoys having fun with her family and cooking and baking in her kitchen! Michelle and her husband  have been married for 16 years and have 5 children, 4 boys and 1 girl. They own a business and work together every day, with their children. It truly is a family business. Michelle's  greatest joy is being with her family and cooking food for others to enjoy!</p>
								<hr>
								
								<h3>Erin Simmons</h3>
								<h5>Leader</h5>
								<p>Erin was inspired to start the Shepherds and Little Lambs Church at New Beginnings Assembly of God ministry because she has two sons that have autism. She wanted them to have a place where they can learn about God in an environment that is comfortable for them. Additionally, she wants other parents to know that their child will be in a safe and friendly classroom.



 Erin took sign language in high school for 3 years. She has 6 years experience working with special needs kids in different settings, including schools, home and residential care. Even before she had her boys,  she was drawn to be with special needs children. She loves that she is able to take all her experience as a worker, and now parent, and bring it into church.



Outside of church, Erin has a very busy family. She is a parent representative for Ohio Family and Children First, is in a parent support group SALSA, and she also teaches a sewing class. She is married to her husband Jason, and we they 6 kids. Their two boys both have autism. Lincoln is 3 and Oskar is 2. Their 4 girls are Brittani 16, Nicolette 15, Cordellia 6 and Gennavieve 4. The girls are in to everything from band,sports, arts, volunteering, jobs and clubs, which keeps Erin very busy! 



A fun fact about Erin is that she LOVES aprons! She has probably 15. She has been known to forget that she is wearing one, and will show up at stores, church or school functions. It tends to embarrass her kids! </p>
								<hr>
								
							</section>

					</div>
				</div>