<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Invincible Student Ministries</h2>
					
						</header>

						<!-- Content -->
							<section id="content">
								<a href="#" class="image fit" style="height: 400px; Width: 500px; margin-left: auto; margin-right: auto;"><%= image_tag "invincible1.jpg" %></a>
								
								<p>Invincible Student Ministries is a youth ministry targeted towards students grades 7-12. We meet on Sunday nights from 6 to 7:30, but feel free to hang out afterward until 8:30 - we’ll have plenty to do! We enjoy sports, video games, music, snacks, and just being with our friends. Our typical service includes a game to kick things off, followed by worship and a message from Pastor Matt or Pastor Dana. We also hold and attend a lot of fantastic and fun events for youths.
 <br><br>In the fall, we have a competition to win a free ski trip, which we do every January. We also attend Reach Conference every year, where we have awesome worship time and hear from great youth communicators. During the fall and into winter, we focus on holiday spirit by participating in the Thanksgiving Praise Celebration, the Christmas play, caroling, and our Christmas party! In the spring, we have Fine Arts Festival, where students can compete in a variety of categories, including art, music, spoken word, sermon, plays, comedy, and much more! We also have an annual bowling night in the springtime. During the summer, we love to have a lot of fun in the sun and are outside every time we are together. We have a variety of events, including a Luau and our annual Cedar Point trip! By coming to Invincible Student Ministries, we hope to give each youth an understanding of their God-given purpose and the ability to grow in their relationship with Christ Jesus.
</p>
							</section>

					</div>
				</div>