 <div class="logoutpage">
 <h1>Thank you for your message.</h1>
 <h3>A member of our staff will reach out to you by email if need be.</h3>
 <script>
    function startTimer(duration, display) {
        var timer = duration, minutes, seconds;
        var end =setInterval(function () {
            seconds = parseInt(timer % 60, 10);

            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = seconds;

            if (--timer < 0) {
                window.location = "/";
                clearInterval(end);
            }
        }, 1000);
    }

    window.onload = function () {
        var fiveMinutes = 5,
            display = document.querySelector('#time');
        startTimer(fiveMinutes, display);
    };
</script>
<p>Redirecting to the home page in <span id="time">05</span></p>
<form id="form1" runat="server">

</form>
</div>