<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Woman's Ministries</h2>
					
						</header>

						<!-- Content -->
							<section id="content">
								<a href="#" class="image fit"  style="height: 400px; Width: 500px; margin-left: auto; margin-right: auto;"><%= image_tag "womans.jpg" %></a>
								
								<p>New Beginnings Assembly of God’s Women’s Ministry exists to help the women in our church, and community, grow in Christ. We have a weekly Bible study on Sunday evenings at 6 pm. We attend area Lifts in fall, spring, and at Christmastime. We do cookie Sunday to raise funds for Life Offering and help with gas for the van. In the near future we hope to have many new exciting outreaches and fellowship nights. Come and join us!</p>
							</section>

					</div>
				</div>