<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Young Adult Ministries</h2>
					
						</header>

						<!-- Content -->
							<section id="content">
								
								<p>Our Young Adult group meets every Wednesday night from 7-8:30. This ministry is for young adults just out of high school through the 30s..ish. We have a weekly Bible study where we learn how to apply the knowledge found in the Bible to our lives. We also enjoy having fellowship with one another. In the past, we have had cookouts, camping trips, gone to Cedar Point, had food and game nights, and much more! </p>
							</section>

					</div>
				</div>