// Place all the styles related to the bulletins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container-dark {
    padding: 60px 0;
    background-color: #1c1d26;
    height: 100%;
}

.bulletin-pdf {
    width: 100%;
    height: 992px;
}