// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-container {
    margin-top: 70px;
}

.post-container > form > .field {
    max-width: 300px;
}

.page-wrapper {
    height: auto;
    min-height: 100%;
    
}

#posts-page h1, h2 {
    color: #fff;
}

.blog-post {
    margin-bottom: 30px;
}



#post_title {
    border: solid 1px black;
    color: #eee;
}


#alert, #notice, #new-post {
    position: fixed;
    right: 20px;
    top: 120px;
    z-index: 99999;
}

#new-post {
    top: 60px;
}

.login {
    background-color: #449d44;
}

.logout {
    background-color: #d9534f;
}