// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #add-pages {
// 	text-decoration: none;
// 	background-color: #fff;
// }

// #add-pages h2, p, .blog-post>p {
//     color: black;
// }
.post-container {
    margin-top: 70px;
}

.post-container > form > .field {
    max-width: auto;
}

.page-wrapper {
    height: auto;
    min-height: 100%;
    
}

#posts-page h1, #posts-page h2 {
    color: #20292f;
}

.blog-post {
    background-color: white;
    display: inline-block;
    text-align: center;
    margin: 2%;
}

#posts-page p {
    font-family: Arial, Helvetica, sans-serif;
}

#post_title {
    border: solid 1px black;
    color: #71818c;
}


#alert, #notice, #new-post {
    position: fixed;
    right: 20px;
    top: 120px;
    z-index: 99999;
}

#new-post {
    top: 60px;
}

.login {
    background-color: #449d44;
}

.logout {
    background-color: #d9534f;
}

#posts-page {
    background: #DEE0E1;
    padding: none;
    margin: 0;
    color: #20292f;
}

.paginate {
    text-align: center;
}