// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-blog {
    width: 100%;
    padding: 50px 20px 0 20px;
}

.container-blog h1 {
    color: black;
}

.container-blog table thead tr th {
    color: black;
}