// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#brand-img {
    border-bottom: none;
}

#brand-img img {
    height: 30px;
    margin-left: 5%;
    margin-top: 16px;
}

.pagination {
    display: inline-block;
  text-align: center;
  cursor: default; 
  border: 1px solid #20292f;
  font-family: 'Poppins', sans-serif;
    margin-left: 26%;
}

.pagination a, .pagination span, .pagination em {
    padding: 0 10px;
}
.pagination .disabled {
    color: #aaa; 
}
.pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #e44c65; 
}
.pagination a {
    border: 1px solid transparent;
    color: #20292f;
    text-decoration: none; 
}
.pagination a:hover, .pagination a:focus {
  border-color: none;
  background: transparent;
  color: white; 
}
.pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; 
}
.pagination .previous_page, .pagination .next_page {
    border-width: none; 
}
.pagination .previous_page {
    margin-right: 1em; 
}
.pagination .next_page {
    margin-left: 1em; 
}

@media screen and (max-width: 911px) {

.pagination {
    display: inline-block;
  text-align: center;
  cursor: default; 
  border: 1px solid #20292f;
  font-family: 'Poppins', sans-serif;
    margin-left: 15%;
}
    
}

@media screen and (max-width: 736px) {
    
 .pagination {
    display: inline-block;
  text-align: center;
  cursor: default; 
  border: 1px solid #20292f;
  font-family: 'Poppins', sans-serif;
    margin-left: -5%;
}
    
}
