// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#brand-img {
    height: 30px;
    margin-left: 5%;
    margin-top: 16px;
}